<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Diakonia{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/diakonia/css/base.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/diakonia/css/forms.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/diakonia/css/skin.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/diakonia/images/apple-touch-icon.png') }}" />
</head>
<body class="login">
    <div class="wrapper">
        <div id="login-header">
            <div class="container">
                <h1>Diakonia</h1>
            </div>
        </div>
        <div id="login-container">
            <div class="container">
                <div class="section">
                    <h3>Login to Diakonia</h3>
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="footer">
                    <ul>
                        <li><a href="#">Forgot your password?</a></li>
                        <li><a href="#">Sign Up &rsaquo;&rsaquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
            
        </div>
    </div>
</body>

</html>
