<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Diakonia{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/diakonia/css/base.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/diakonia/css/forms.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/diakonia/css/skin.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/diakonia/images/apple-touch-icon.png') }}" />
</head>
<body>
    <div class="wrapper">
        <div id="masthead">
            <div class="clearfix header" role="banner">
                <div id="logo">
                    <p>Diakonia</p>
                </div>
                <div class="nav-main">
                     {{ menu('main') }}
                </div>
                <div class="login-control">
                    <span class="icon">&nbsp;</span>
                    <p>
                        <a href="{{ path('fos_user_user_show', {'username': app.user.getUsername}) }}">
                        {% trans 'Logged in as %username%' with { '%username%': app.user.getUsername() } from 'FOSUserBundle' %}
                        </a> |
                        <a href="{{ path('_security_logout') }}">
                        {% trans 'Logout' from 'FOSUserBundle' %}
                        </a>
                    </p>
                </div>
            </div>
            <!-- end #masthead -->
        </div>
        <div id="mastheads-seperator"></div>
        <div id="main" class="clearfix">
            
            <div class="nav-primary">
                {% block nav %}
                {% endblock %}
                
                {% block actions %}
                {% endblock %}
            </div>
           
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
